<a
    href="{{ href }}"
    target="_blank"
    style="display: inline-block; padding: 12px 25px; font-family: Arial, sans-serif; font-size: 16px;
    color: {{ color_texto|default('#000') }}; text-decoration: none; border-radius: 4px;
    background-color: {{ color_bg|default('#33F1FF') }}; border: 1px solid {{ color_borde|default('#33F1FF') }};"
>
    {{ texto }}
</a>